.galleria-container
  width: 100%
  height: calc(100vh - 70px) // compute difference to header
  background-color: var(--bgColorSecondary)
  color: var(--textColorPrimary)
  padding: 0 2rem
  box-sizing: border-box

.galleria-header
  padding: 1rem 0

  h1
    margin: 0 0 0.2rem 0
    font-size: 2rem
    font-weight: 600

  p
    margin: 0
    opacity: 0.7
    font-size: 0.95rem


.galleria-grid
  display: grid
  grid-template-columns: repeat(auto-fill, 300px)
  gap: 1.5rem
  width: 100%
  justify-content: center

app-card-view
  width: 300px
  height: 300px
  display: block