<div class="header-wrapper">
    <div>
        <!--Application logo and names-->
        <div class="nav-part start">
            <button mat-menu-item class="btn-menu-item" routerLink="/content" routerLinkActive="active-btn"
                [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon></mat-icon>
                <div class="app-name">My Angular App</div>
            </button>
            <button mat-menu-item class="btn-menu-item" routerLink="/galleria"
                routerLinkActive="active-btn">Gallery</button>
        </div>

        <!--Additional menu-->
        <div class="nav-part end">

            <!-- Profile trigger -->
            <button *ngIf="user$ | async as user" mat-menu-item class="btn-menu-item has-icon"
                [matMenuTriggerFor]="profileMenu" aria-label="User profile" [disabled]="!user">

                <app-profile-picture [user]="user" [size]="32"></app-profile-picture>
            </button>

            <!-- Profile dropdown -->
            <mat-menu #profileMenu="matMenu" class="profile-menu">
                <div class="dialog-wrapper">
                    <app-profile-dialog [user]="user$ | async"></app-profile-dialog>
                </div>
            </mat-menu>



            <!--Change language menu-->
            <button mat-menu-item class="btn-menu-item has-icon" [matMenuTriggerFor]="languageSettingsMenu"
                aria-label="Change language">
                <mat-icon fontIcon="language"></mat-icon>
            </button>
            <mat-menu #languageSettingsMenu="matMenu">
                <button mat-menu-item (click)="changeLang('en')" aria-label="English">English</button>
                <button mat-menu-item (click)="changeLang('de')" aria-label="Deutsch">Deutsch</button>
            </mat-menu>

            <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleTheme($event)" aria-label="Toggle dark theme">
            </mat-slide-toggle>
        </div>

    </div>
</div>