<div class="content-container">
    <div class="content-header">
        <h1>Content</h1>
        <p>{{ 'test' | translate }}</p>
    </div>

    <div class="content-viewport">
        <div class="image-row">
            <!-- Left image -->
            <div class="sample-image">
                <app-image-card-view class="side-image" [picture]="firstSelectedImage?.picture" [showBookmark]="false">
                </app-image-card-view>
                <p>Source Image</p>
            </div>

            <!-- Center interpolation -->
            <div class="interpolation-result">
                <img *ngIf="interpolationState" [src]="interpolationState.picture" class="result-image"
                    alt="Interpolated result" />

                <!-- Play overlay -->
                <button *ngIf="!isPlayingGif" class="play-overlay" (click)="playGif()">
                    <mat-icon>play_arrow</mat-icon>
                </button>
            </div>


            <!-- Right image -->
            <div class="sample-image">
                <app-image-card-view class="side-image" [picture]="secondSelectedImage?.picture" [showBookmark]="false">
                </app-image-card-view>
                <p>Target Image</p>
            </div>
        </div>

        <!-- Slider -->
        <div class="slider-row">
            <app-slider-thumb [min]="0" [max]="100" [step]="1" [showValue]="true" [(sliderValue)]="currentSliderValue"
                (valueChange)="onSliderChange($event)">
            </app-slider-thumb>
        </div>

    </div>

    <div *ngIf="selectedImageIds.length !== 2" class="user-information">
        <p>Please select two images to interpolate.</p>
    </div>

    <div class="action-bar">
        <button mat-flat-button color="primary" class="select-btn" (click)="openDialog()">Select Images</button>
    </div>
</div>