.footer-wrapper
    height: 55px
    width: 100%
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 999
    background-color: var(--bgColorPrimary)
    color: var(--textColorPrimary)
    font-size: 12px
    display: flex
    align-items: center

    > .footer
        width: 100%
        max-width: 1400px
        margin: 0 auto
        padding: 0 24px
        display: flex
        align-items: center
        justify-content: space-between   
        gap: 24px


.footer
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

    > *
        display: flex
        align-items: center
        margin: 0
        padding: 0
        color: var(--textColorPrimary)


.footer-link
    color: var(--textColorPrimary)
    cursor: pointer
    text-decoration: none     

    &:hover
        text-decoration: underline
        color: var(--textColorPrimary) !important
