.slider-container
  width: 100%
  height: 100%

mat-slider
  width: 100%
  height: 35px
  margin-bottom: 0.1rem

  ::ng-deep .mat-slider-thumb
    background-color: var(--textColorPrimary) !important
    border-color: var(--textColorPrimary) !important

    /* Inactive track */
    ::ng-deep .mat-slider-track-background
      background-color: var(--textColorPrimary) !important
      opacity: 1 !important

    ::ng-deep .mat-slider-track-wrapper
      background: none !important

.slider-value
  text-align: center
  font-size: 0.75rem
  opacity: 0.8
