<div class="dialog-wrapper">
  <h2>Select Images</h2>

  <!-- Categories -->
  <div class="category-button">
    <button *ngFor="let category of categories" class="content-btn"
      [class.active]="category.id === selectedCategory?.id" (click)="selectCategory(category)">
      {{ category.category }}
    </button>
  </div>

  <!-- Image carousel -->
  <app-carousel [images]="allImages" [selectedImages]="selectedImages" (selectionChange)="onSelectionChange($event)">
  </app-carousel>


  <!-- Actions -->
  <div class="dialog-button">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="selectedImages.length !== 2" (click)="confirm()">
      Confirm ({{ selectedImages.length }}/2)
    </button>
  </div>
</div>