.dialog-wrapper
  width: 100%
  background-color: var(--bgColorSecondary)
  color: var(--textColorPrimary)
  padding: 1rem
  box-sizing: border-box
  overflow-y: auto

/* Categories */
.category-button
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-bottom: 1rem
  padding: 1rem

  /* Content */
.content-btn
  color: var(--highlightColorSecondary)
  font-weight: bold
  border-radius: 30px
  height: 40px
  min-width: 80px
  margin: 6px
  padding: 0 16px
  display: flex
  align-items: center
  justify-content: center
  background: transparent
  border: none
  cursor: pointer
  transition: background 0.2s ease

  &:hover
    background: var(--bgHoverColor)

  &.active
    background: var(--highlightColorSecondary)
    color: var(--textColorPrimary)

.dialog-button
  color: var(--highlightColorSecondary)
  font-weight: bold
  border-radius: 30px
  height: 40px
  min-width: 80px
  margin: 6px
  padding: 0 16px
  display: flex
  align-items: center
  justify-content: center
  background: transparent
  border: none
  cursor: pointer
  transition: background 0.2s ease

  &:hover
    background: var(--bgHoverColor)

  &.active
    background: var(--highlightColorSecondary)
    color: var(--textColorPrimary)

/* Image grid */
.image-grid
  display: grid
  grid-template-columns: repeat(auto-fill, 300px)
  gap: 1.5rem
  width: 100%
  justify-content: center
